<div class="row"></div>
<div class="col-lg-6 col-lg-offset-3 text-center">
<h1>Ruh Roh! Something Has Gone Terribly Wrong: 500</h1>
<img src="/img/sanjerrorsm.png" alt="sanjerror" class="img-rounded">
</div>
</div>