<h1 class="jumbotron">Your Header Info</h1>
<ul class="list-group">
    <li class="list-group-item list-group-item-info"><b>IP Address:</b> {{ipaddr}}</li>
    <li class="list-group-item list-group-item-info"><b>Hostname:</b> {{hostname}}</li>
    <li class="list-group-item list-group-item-info"><b>User-Agent:</b> {{userAgent}}</li>
</ul>