{{#section 'head'}}
    <!-- bots tag-->
    <meta name="robots" content="noindex">
{{/section}}

<div class="jumbotron">
<h1></h1>
</div>
<p>We're testing some jQuery stuff.</p>

{{#section 'jquery'}}
        <script>
            $('document').ready(function(){
                $('h1').html('jQuery Works');
            });
        </script>
{{/section}}