<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Mocana Lighthouse</title>
    {{{_sections.head}}}
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mocNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
            <a class="navbar-brand" href="/">Lighthouse</a>
        </div>
        <div class="collapse navbar-collapse" id="mocNav">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/headers">Headers</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
{{{body}}}
</div>
</body>

</html>