<div class="weatherWidget">
    <div class="location">
      <h4>You're Authenticated As:</h4>
        <h1>
               <ul class="list-group">
                   <li id="userInfo" class="list-group-item list-group-item-success">{{partials.userdata.user}}</li>
                </ul>
        </h1>
    </div>

</div>

